# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Parameter \#1 \$array \(list\<mixed\>\) of array_values is already a list, call has no effect\.$#'
            count: 3
            path: ../../tests/system/Database/Live/MetadataTest.php
