# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to method CodeIgniter\\Database\\BaseBuilder\:\:getWhere\(\) with incorrect case\: getwhere$#'
            count: 4
            path: ../../tests/system/Database/Live/InsertTest.php

        -
            message: '#^Call to method CodeIgniter\\Database\\BaseBuilder\:\:getWhere\(\) with incorrect case\: getwhere$#'
            count: 9
            path: ../../tests/system/Database/Live/UpsertTest.php

        -
            message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with incorrect case\: assertInstanceof$#'
            count: 1
            path: ../../tests/system/Format/FormatTest.php

        -
            message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with incorrect case\: AssertNull$#'
            count: 1
            path: ../../tests/system/HTTP/Files/FileCollectionTest.php

        -
            message: '#^Call to method CodeIgniter\\Test\\ControllerTestTraitTest\:\:withUri\(\) with incorrect case\: withURI$#'
            count: 17
            path: ../../tests/system/Test/ControllerTestTraitTest.php

        -
            message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with incorrect case\: assertsame$#'
            count: 2
            path: ../../tests/system/Validation/FormatRulesTest.php
