# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Node attribute ''previous'' is no longer available\.$#'
            count: 1
            path: ../src/PHPStan/CheckUseStatementsAfterLicenseRule.php
